
<MudItem Class="action-summary">
    <MudPaper Style="min-height: 51px;">
        
        <h6 @onclick="() => RemoveActionByIndex(Index)">
            @(Action.GetDescription())
            <MudIcon Icon="@Icons.Filled.Cancel" Size="Size.Small"/>
        </h6>
        
        @if (Action.ActionType == ActionType.Block && Player.CanUseSkill(Skills.Brawler, Skills.None))
        {
            <MudCheckBox T="bool" 
                         Label="Brawler" 
                         Size="Size.Small"
                         Checked="UseBrawler()"
                         CheckedChanged="@(ToggleBrawler)"/>
        }

        @if (Action.ActionType == ActionType.Dodge)
        {
            if (Player.CanUseSkill(Skills.BreakTackle, Skills.None))
            {
                <MudCheckBox T="bool" 
                    Label="Break Tackle" 
                    Size="Size.Small"
                    Checked="BreakTackle()"
                    CheckedChanged="@(ToggleBreakTackle)"/>
            }

            <MudCheckBox T="bool" 
                         Label="Diving Tackle" 
                         Size="Size.Small"
                         Checked="DivingTackle()"
                         CheckedChanged="@(ToggleDivingTackle)"/>
        }
        
        @if (Action.ActionType is ActionType.Pass or ActionType.ThrowTeammate)
        {
            <MudCheckBox T="bool" 
                         Label="Reroll Inaccurate" 
                         Size="Size.Small" 
                         Checked="RerollInaccurate()"
                         CheckedChanged="@(ToggleRerollInaccurate)"/>
        }
        
        @if (Action.ActionType is ActionType.Dauntless)
        {
            <MudCheckBox T="bool" 
                         Label="Reroll Failure" 
                         Size="Size.Small" 
                         Checked="RerollFailure()"
                         CheckedChanged="@(ToggleRerollFailure)"/>
        }
        
        @if (Action.IsRerollable() && Player.CanUseSkill(Skills.Pro, Skills.None))
        {
            <MudCheckBox T="bool" 
                         Label="Pro" 
                         Size="Size.Small"
                         Checked="UsePro()"
                         CheckedChanged="@(TogglePro)" />
        }
    </MudPaper>
</MudItem>
