@using ActionCalculator.Utilities
@using System.Linq

<MudPaper Class="player-editor">

    <h4>
        Player @(PlayerNumber.ToString())
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small" OnClick="ClearSelected">Clear</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Tertiary" Size="Size.Small" OnClick="NewPlayer">New</MudButton>
    </h4>

    <MudSelect T="Skills"
               MultiSelection="true"
               SelectedValues="SelectedSkills"
               SelectedValuesChanged="SkillsChanged"
               Label="Skills"
               Variant="Variant.Outlined"
               Dense="true"
               AnchorOrigin="Origin.BottomCenter"
               MultiSelectionTextFunc="@(selected => selected.Count == 0 ? "None" : string.Join(", ", selected))">
        @foreach (var skill in GetSkills())
        {
            <MudSelectItem T="Skills" Value="skill">@skill.ToString().PascalCaseToSpaced()</MudSelectItem>
        }
    </MudSelect>

    @if (CurrentPlayer.CanUseSkill(Skills.Loner, Skills.None))
    {
        <MudNumericField T="int" Min="2" Max="6"
                         Label="Loner Value"
                         Value="CurrentPlayer.LonerValue"
                         ValueChanged="@LonerChanged"
                         Variant="Variant.Outlined"
                         Dense="true" />
    }
    @if (CurrentPlayer.CanUseSkill(Skills.MightyBlow, Skills.None))
    {
        <MudNumericField T="int" Min="1" Max="2"
                         Label="Mighty Blow Value"
                         Value="CurrentPlayer.MightyBlowValue"
                         ValueChanged="@MightyBlowChanged"
                         Variant="Variant.Outlined"
                         Dense="true" />
    }
    @if (CurrentPlayer.CanUseSkill(Skills.DirtyPlayer, Skills.None))
    {
        <MudNumericField T="int" Min="1" Max="2"
                         Label="Dirty Player Value"
                         Value="CurrentPlayer.DirtyPlayerValue"
                         ValueChanged="@DirtyPlayerChanged"
                         Variant="Variant.Outlined"
                         Dense="true" />
    }
    @if (CurrentPlayer.CanUseSkill(Skills.BreakTackle, Skills.None))
    {
        <MudNumericField T="int" Min="1" Max="2"
                         Label="Break Tackle Value"
                         Value="CurrentPlayer.BreakTackleValue"
                         ValueChanged="@BreakTackleChanged"
                         Variant="Variant.Outlined"
                         Dense="true" />
    }

</MudPaper>
